bastion_public_hostname: {{ bastion_public_hostname }}
bastion_ssh_password: {{ bastion_ssh_password }}
bastion_ssh_user_name: {{ bastion_ssh_user_name }}
cloud_provider: {{ cloud_provider }}
guid: {{ guid }}
showroom_host: {{ showroom_host }}
showroom_primary_view_url: {{ showroom_primary_view_url }}
ssh_command: {{ ssh_command }}
ssh_password: {{ ssh_password }}
ssh_username: {{ ssh_username }}
subdomain: {{ subdomain }}
subdomain_internal: {{ subdomain_internal }}
targethost: {{ targethost }}
workshop_satellite_url: {{ workshop_satellite_url }}
workshop_satellite_user_name: {{ workshop_satellite_user_name }}
workshop_satellite_user_password: {{ workshop_satellite_user_password }}
username: {{ username }}
password: {{ password }}
server_url: {{ server_url }}
workshop_node1: 'node1.{{ guid }}.internal'
workshop_node2: 'node2.{{ guid }}.internal'
workshop_node3: 'node3.{{ guid }}.internal'
