var_guid: {{ var_guid }}
var_subdomain: {{ var_subdomain }}
var_subdomain_internal: {{ var_subdomain_internal }}
var_workshop_satellite_url: {{ var_workshop_satellite_url }}
var_workshop_satellite_user_name: {{ var_workshop_satellite_user_name }}
var_workshop_satellite_user_password: {{ var_workshop_satellite_user_password }}
