var_bastion_public_hostname: {{ var_bastion_public_hostname }}
var_bastion_ssh_password: {{ var_bastion_ssh_password }}
var_bastion_ssh_user_name: {{ var_bastion_ssh_user_name }}
var_cloud_provider: {{ var_cloud_provider }}
var_guid: {{ var_guid }}
var_showroom_host: {{ var_showroom_host }}
var_showroom_primary_view_url: {{ var_showroom_primary_view_url }}
var_ssh_command: {{ var_ssh_command }}
var_ssh_password: {{ var_ssh_password }}
var_ssh_username: {{ var_ssh_username }}
var_subdomain: {{ var_subdomain }}
var_subdomain_internal: {{ var_subdomain_internal }}
var_targethost: {{ var_targethost }}
var_workshop_satellite_url: {{ var_workshop_satellite_url }}
var_workshop_satellite_user_name: {{ var_workshop_satellite_user_name }}
var_workshop_satellite_user_password: {{ var_workshop_satellite_user_password }}
var_username: {{ var_username }}
var_password: {{ var_password }}
var_server_url: {{ var_server_url }}
var_workshop_node1: 'node1.{{ var_guid }}.internal'
var_workshop_node2: 'node2.{{ var_guid }}.internal'
var_workshop_node3: 'node3.{{ var_guid }}.internal'
